<div class="play-container">
    <h2>Hello, {{name}}. These are your Pokémon: </h2>
</div>

<div class="container" *ngIf="trainerCollection != null">
    Hello
    <div class="cards">
        <div class="card" *ngFor="let pokemon of trainerCollection">
            <img [src]="pokemon.sprite" [alt]="pokemon.name" width="100%"/>
            <div class="card-container">
                {{pokemon.name}}
            </div>
            <button (click)="onRemoveClicked(pokemon.name)">Remove</button>
        </div>
    </div>

</div>
