<div class="container">
    <div *ngIf="pokemonDetail != null" class="cards" >
        <div class="card">
            <img [src]="pokemonDetail.sprite" [alt]="pokemonDetail.name" width="100%"/>
            <h2>{{pokemonDetail.name}}</h2>
            
        </div>
        <div class="card">
            <h3>Profile</h3>
            <ul>
                <li>Height {{pokemonDetail.height}}</li>
                <li>Weight: {{pokemonDetail.weight}}</li>
                <li>Base experience: {{pokemonDetail.baseExperience}}</li>
                <h4>Abilities</h4>
                <ul *ngFor="let ability of pokemonDetail.abilities">
                    <li>{{ability.ability.name}}</li>
                </ul>
            </ul>
        </div>
        <div class="card">
            <h3>Stats</h3>
            <ul *ngFor="let stat of stats">
                <li>{{stat.stat.name}}: {{stat.base_stat}},
                    effort: {{stat.effort}}
                </li>
                
            </ul>
        </div>
        <div class="card">
            <h3>Types</h3>
            <ul *ngFor="let type of types">
                <li>{{type.type.name}}</li> 
            </ul>
        </div>
        <div class="card">
            <h3>Moves</h3>
            <ul *ngFor="let move of moves">
                <li>{{move.move.name}}</li> 
            </ul>
        </div>
    </div>
</div>
