<!-- Top nav  -->
<header>
  <div class="container">
    <a class="logo">
      <img src="../assets/pngwave.png" alt="pokemon" />
    </a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/trainer">Trainer Page</a></li>
        <li><a href="#" routerLink="/catalogue">Catalogue Page</a></li>
        <li><a (click)="logOut()" routerLink="/">Log out</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- routed pages -->
<div class="container">
  <router-outlet></router-outlet>
</div>