<div class="container">

    <div class="cards">
        <div class="card"  *ngFor="let pokemon of pokemons">
            <img [src]="pokemon.sprite" (click)="onPokemonClicked(pokemon.name)" [alt]="pokemon.name" width="100%"/>
            <div class="card-container">
                {{pokemon.name}}
            </div>
            <button (click)="onCollectClicked(pokemon.name)">Collect</button>
        </div>
    </div>

</div>