/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(111, 0, 255);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    background-image: url("./assets/pokemon-backgrounds-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding: 1em 0;
    width: 100%;
    margin: 0 auto;
    // display: inline-block;
    a {
        color: white;
        text-decoration: none;
        img{
            vertical-align: middle;
            height: 2em;
            width: auto;
        }
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        display: inline-block;
        vertical-align: center;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
            vertical-align: center;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}

h2{
    text-align: left;
}

h3{
    padding-left: 5%;
}
span {
    font-weight: bold;
    background: lightgray;
    padding: .3em .8em;
    cursor: pointer;
}

.play-container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: white;

    input {
        padding: 1em;
        margin-bottom: 2em;
    }
    button{
        padding: 1em;
    }
}