<div *ngIf="isLoggedIn === false" class="play-container">

    <h2 >Choose a trainer name:</h2>
    <input (keydown.enter)="storeName()" type="text" [(ngModel)]="trainerName" />
    <button (click)="storeName()">Log in</button>
    
</div>
<div *ngIf="isLoggedIn === true" class="play-container">

    <h2 >You are logged in as {{name}}.</h2>
    
</div>