// span {
//     font-weight: bold;
//     background: lightgray;
//     padding: .3em .8em;
//     cursor: pointer;
// }

// .play-container {
//     padding: 3em;
//     border: 1px solid lightgray;
//     margin-bottom: 1em;
//     margin-top: 1em;
//     background-color: white;

//     input {
//         padding: 1em;
//         margin-bottom: 2em;
//     }
//     button{
//         padding: 1em;
//     }
// }